<ion-view view-title="Add">
  <ion-content>
    <br>
    <br>
    <br>


    <div class="padding">
      <button ui-sref="app.searchRestaurants" class="button button-full button-energized-900 ink">A Review</button>
      <h5 align="middle">Review a place you have dined</h5>
    </div>

    <div class="padding">
      <button ui-sref="app.addBookmark" class="button button-full button-stable ink">A Bookmark</button>
      <h5 align="middle">Bookmark a place you haven't dined</h5>
    </div>

  </ion-content>
</ion-view>
