<ion-view view-title="Login" align-title="left">
  <ion-content >
    <div class="hero no-header flat" style="background: url(img/login-background.jpg) center; ">
      <div class="content">
        <div class="app-icon"></div>
        <h1 class="loginTitle" >Local Eats</h1>
      </div>
    </div>

    <div class="list padding">
      <button class="button button-full icon-left ion-social-google button-assertive-900">Google+</button>
      <button class="button button-full icon-left ion-social-facebook button-positive-900">Facebook</button>
    </div>
    <div class="padding">
      <button ui-sref="app.dashboard" class="button button-full button-clear ink">Guest</button>
      <!--<h5 align="middle">As a guest, you cannot add restaurants</h5>-->
    </div>

  </ion-content>
</ion-view>



