<ion-view view-title="Restaurant">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="hero has-mask" style="background-image: url('img/login-background.jpg');">
      <div class="content">
        <button class="button button-large button-clear flat icon ion-images pull-right "></button>
        <button class="button button-large button-clear flat icon ion-heart pull-right "></button>
      </div>
    </div>

    <div class="mid-bar dark-bg z1 padding">
      <h3>Pio Pio</h3>
      <p>123 6th Avenue</p>
    </div>

    <button id="fab-friends" class="button button-fab button-fab-bottom-right expanded button-energized-900" ui-sref="app.searchRestaurants">
      <i class="icon ion-plus"></i>
    </button>

    <div class="list card stable-bg">
      <div class="item item-avatar">
        <img src="img/jirain.jpg">
        <h2>Jirain</h2>
      </div>
      <div class="item item-body">
        This place has good chicken
        <p>
          <a class="subdued">1 Like</a>
          <a class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"><i class="icon ion-thumbsup"></i>Like</a>
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"><i class="icon ion-chatbox"></i>Comment</a>
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"><i class="icon ion-share"></i>Share</a>
      </div>
    </div>

    <div class="list card stable-bg">
      <div class="item item-avatar">
        <img src="img/daenerys.jpg">
        <h2>Natalia</h2>
      </div>
      <div class="item item-body">
        This place has good chicken
        <p>
          <a class="subdued">1 Like</a>
          <a class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"><i class="icon ion-thumbsup"></i>Like</a>
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"><i class="icon ion-chatbox"></i>Comment</a>
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"><i class="icon ion-share"></i>Share</a>
      </div>
    </div>
  </ion-content>
</ion-view>
