<ion-view view-title="MyPlace">

  <button id="fab-bookmark" class="button button-fab button-fab-bottom-right expanded button-energized-900" ng-click="openModal()">
    <i class="icon ion-funnel"></i>
  </button>


  <ion-content ng-class="{expanded:isExpanded}">
    <div class="content">
      <!--<div class="list animate-fade-slide-in-right">-->
      <ion-list>
        <ion-item class="item-avatar item-icon-right" ng-repeat="restaurant in restaurants | myFilter" ng-click="restaurantSelected(restaurant)">
          <img src="img/cutlery.jpg" alt="Photo">
          <h2>{{restaurant.name}}</h2>
          <p>{{restaurant.address}}</p>
          <ion-option-button class="button-assertive" ng-click="deleteItem(restaurant)">Delete</ion-option-button>
          <!--<i class="icon ion-compose energized"></i>-->
        </ion-item>
      </ion-list>
      <!--</div>-->
    </div>
  </ion-content>
</ion-view>
