<ion-view view-title="Dashboard">

  <button id="fab-friends123" class="button button-fab button-fab-bottom-right expanded button-energized-900" ui-sref="app.searchRestaurants">
    <i class="icon ion-plus"></i>
  </button>



  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <!--<div class="hero slide-up" style="background-image: url('img/spices.jpg'); background-size: cover;">-->
      <!--<div class="content">-->
        <!--<div class="avatar" style="background-image: url({{profileData.picture}});"></div>-->
        <!--<h3><a class="light">{{profileData.firstName}}</a></h3>-->
      <!--</div>-->
    <!--</div>-->
    <div class="tabs tabs-dark tabs-icon-top static">
      <a ui-sref="app.reviewed" class="tab-item">
        <i class="icon ion-arrow-graph-up-right"></i> Reviewed
      </a>
      <a ui-sref="app.bookmarked" class="tab-item">
        <i class="icon ion-android-people"></i> Bookmarked
      </a>
      <a ui-sref="app.myplaces" class="tab-item">
        <i class="icon ion-images"></i> My Places
      </a>
    </div>

    <h4 class="content padding double-padding-x">Feed</h4>
    <div class="list animate-fade-slide-in-right">
      <ion-list>
        <ion-item class="item-avatar item-icon-right" ng-repeat="feed in feeds" ng-click="restaurantSelected(feed)">
          <img src="img/cutlery.jpg" alt="Photo">
          <h2>{{feed.restaurantName}}</h2>
          <h4>{{feed.address}}</h4>
          ({{feed.entryType}} by {{feed.user}} on {{feed.date}})
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
