<ion-view view-title="" align-title="left">
  <ion-content>
    <div class="hero flat">
      <div class="content">
        <h1><span class="splashPageRed">Local</span> <span class="splashPageBlack">Eats</span></h1>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="wrapper social-login">
      <button class="button icon-left ion-social-google button-assertive-900" ng-click="login('google')">Google+</button>
      <button class="button icon-left ion-social-facebook button-positive-900" ng-click="login('facebook')">Facebook</button>
    </div>
  </ion-content>
</ion-view>



