<ion-view view-title="Add Review">
  <ion-content>
    <h3 class="padding-left padding-top">{{restaurantData.restaurantName}}</h3>
    <h5 class="padding-left">{{restaurantData.crossStreet}}</h5>

    <div class="list">
      <div class="item">
        <div class="button-bar">
          <a class="button buttonTiny" ng-class="{'button-energized-900': reviewType('Bookmark')}" ng-click="setReviewType('Bookmark')">Bookmark</a>
          <a class="button buttonTiny" ng-class="{'button-energized-900': reviewType('Review')}" ng-click="setReviewType('Review')">Review</a>
        </div>
      </div>

      <div ng-if="reviewData.reviewType === 'Review'">
        <div class="item">
          <span class="input-label">How was the food?</span>

          <div class="button-bar">
            <a class="button buttonTiny" ng-class="{'button-energized-900': isFoodActive('Good')}" ng-click="setFoodActive('Good')">Good</a>
            <a class="button buttonTiny" ng-class="{'button-energized-900': isFoodActive('Great')}" ng-click="setFoodActive('Great')">Great</a>
            <a class="button buttonTiny" ng-class="{'button-energized-900': isFoodActive('Exceptional')}" ng-click="setFoodActive('Exceptional')">Exceptional</a>
          </div>

          <p ng-if="isFoodActive('Good')">You should try it if you're in the area!</p>
          <p ng-if="isFoodActive('Great')">You should try to make it here!</p>
          <p ng-if="isFoodActive('Exceptional')">You got to eat here!!</p>

        </div>

        <hr width="75%">

        <div class="item">
          <span class="input-label ">How was the service?</span>
          <div class="button-bar">
            <a class="button buttonTiny" ng-class="{'button-energized-900': isServiceActive('Average')}" ng-click="setServiceActive('Average')">Average</a>
            <a class="button buttonTiny" ng-class="{'button-energized-900': isServiceActive('Good')}" ng-click="setServiceActive('Good')">Good</a>
            <a class="button buttonTiny" ng-class="{'button-energized-900': isServiceActive('Exceptional')}" ng-click="setServiceActive('Exceptional')">Exceptional</a>
          </div>
          <p ng-if="isServiceActive('Average')">The service could definitely improve!</p>
          <p ng-if="isServiceActive('Good')">The service was good.</p>
          <p ng-if="isServiceActive('Exceptional')">Excellent service! Top notch!</p>
        </div>

        <hr width="75%">

        <div class="item">
          <span class="input-label ">How was the atmosphere?</span>
          <div class="button-bar">
            <a class="button buttonTiny" ng-class="{'button-energized-900': isVibeActive('Casual')}" ng-click="setVibeActive('Casual')">Casual</a>
            <a class="button buttonTiny" ng-class="{'button-energized-900': isVibeActive('Trendy')}" ng-click="setVibeActive('Trendy')">Trendy</a>
            <a class="button buttonTiny" ng-class="{'button-energized-900': isVibeActive('Formal')}" ng-click="setVibeActive('Formal')">Formal</a>
          </div>
          <p ng-if="isVibeActive('Casual')">Casual, laid back environment</p>
          <p ng-if="isVibeActive('Trendy')">You can impress your date here</p>
          <p ng-if="isVibeActive('Formal')">Bare minimum: shirt and tie!</p>
        </div>

        <hr width="75%">

        <div class="item item-input  item-stacked-label">
          <span class="input-label ">Notes</span>
          <input type="text" placeholder="Dish Name, tips, etc" ng-model="reviewData.comments">
        </div>
      </div>

      <div ng-if="reviewData.reviewType === 'Bookmark'">
        <div class="item item-input  item-stacked-label">
          <span class="input-label ">Notes</span>
          <input type="text" placeholder="Why are you bookmarking this place?" ng-model="reviewData.comments">
        </div>
      </div>

    </div>

    <div class="padding">
      <button class="button button-full button-assertive ink" ng-click="AddPost()">Submit</button>
    </div>

  <div>




  </div>


  </ion-content>
</ion-view>
