/* Empty. Add your own CSS if you like */

.loginTitle {
  color: darkred;
  text-align: left;
  padding-left: 19px;
}

.splashPageRed{
  color: #ac1118;
  text-align: left;
  /*padding-left: 19px;*/
}

.splashPageBlack{
  color: #000000;
  text-align: left;
  /*padding-left: 19px;*/
}

.reducedPadding {
  padding-top:2px;

}

.buttonTiny {
  box-shadow: none;
  padding: 3px 7px;
  font-size: 10px;
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", "Segoe UI", sans-serif;
}

.wrapper {
  text-align: center;
}

.button1 {
  position:relative;
  margin-top:100%;
  /*left:20%;*/
}

.card .item.item-avatar {
  min-height: 60px;
}

.my-goodFood-icon {
  content: url('/www/img/goodFood.ico');
  width: 22px;
}

p {
  padding-top: 10px;
}

hr{
  border: 0.5px solid #dddddd;
}

.hero-medium {
  background-size: cover;
  background-color: #df1118;
  height: 100px;
  position: fixed;
  width: 100%;
}

.has-medium-hero {
  top: 100px!important;
}

.bg-red {
  background-color: #df1118;
}

.white-font {
  color: #fbfbff;
}

.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}
