/* Empty. Add your own CSS if you like */

.loginTitle {
  color: darkred;
  text-align: left;
  padding-left: 19px;
}

.reducedPadding {
  padding-top:2px;

}

.buttonTiny {
  box-shadow: none;
  padding: 3px 7px;
  font-size: 10px;
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", "Segoe UI", sans-serif;
}

.card .item.item-avatar {
  min-height: 60px;
}

.my-goodFood-icon {
  content: url('/www/img/goodFood.ico');
  width: 22px;
}

p {
  padding-top: 10px;
}
